[Unit]
Description=Timer hebdomadaire pour nettoyage des snapshots

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
